
$breakpoints: (
    small-1:  28.125em,
    small-2:  37.5em,
    medium-1: 47.5em,
    medium-2: 56.25em,
    large-1:  68.75em,
    large-2:  75em
);

$base-background-color: #FFF;

$base-font-size: 16px;
$base-font-family: Helvetica, Arial, sans-serif;
$base-line-height: 1.5;
$base-text-color: black;

$heading-font-family: Helvetica, Arial, sans-serif;
$heading-font-weight: normal;
